* {
  font-family: "MonaspiceNe Nerd Font";
  font-size: 10pt;
  padding: 0;
  margin: 0;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: none;
  box-shadow: none;
}

window#waybar {
  background-color: transparent;
}

window#waybar>box {
  background-color: #222;
  opacity: 0.7;
  margin: 4px;
  margin-bottom: 0;
  margin-top: 8px;
  padding-left: 4px;
  padding-right: 4px;
  border: none;
  border-radius: 15px;
}

widget {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

widget>* {
  opacity: 0.3;
}

widget>*:hover {
  opacity: 1;
}

#custom-launcher,
#custom-powermenu,
#clock {
  font-weight: bold;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 0.7;
}

#custom-launcher {
  margin-right: 16px;
}

#custom-powermenu {
  margin-left: 16px;
}

tooltip {
  border: 1px solid #222;
  color: #fff;
  opacity: 0.7;
}

/* alerts */

@keyframes blink {
  to {
    opacity: 1;
  }
}

.warning,
.critical,
.urgent {
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* workspace module */

#workspaces {
  padding: 0;
  margin: 0;
  opacity: 1;
}

#workspaces>button {
  padding: 0;
  border: 0;
  opacity: 0.3;
  border-radius: 0;
}


#workspaces>button.active {
  opacity: 7;
}